<h1>{{ title }}</h1>

<p>Total Employees: {{ employeeCount }}</p>

<button (click)="increaseCount()">
  Add Employee
</button>
<p *ngIf="employeeCount > 100">
  More than 100 employees
</p>

<hr>
<app-employee-card
  [employeeName]="employeeName"
  (deleteEmployee)="handleDelete($event)">
</app-employee-card>

<input
  type="text"
  [(ngModel)]="employee"
  placeholder="Enter employee name">



<div [ngSwitch]="role">

  <p *ngSwitchCase="'admin'">
    Admin Screen
  </p>

  <p *ngSwitchCase="'manager'">
    Manager Screen
  </p>

  <p *ngSwitchDefault>
    Employee Screen
  </p>

</div>
<button (click)="showEmployees = !showEmployees">
  Toggle Employees
</button>

<ul *ngIf="showEmployees">
  <li *ngFor="let employee of employees">
    {{ employee }}
  </li>
</ul>

<button (click)="saveEmployee()">
  Save Employee
</button>
